<dl class="dl-horizontal" ng-class="{'has-error': showError && formState.edit !== false}">
    <dt ng-class="{'p-t-10': formState.edit !== false}">
        {{to.label}}
    </dt>
    <dd>
        <div ng-class="{'fg-line': formState.edit !== false}">
            <div ng-if="formState.edit !== false">
                <formly-transclude></formly-transclude>
            </div>
            <span ng-if="formState.edit === false" ng-class="options.templateOptions.viewClassName"
                su-compile="options.templateOptions.viewFormatter ? (options.templateOptions.viewFormatter((getViewValue ? getViewValue() : model[options.key]), model)) : (getViewValue ? getViewValue() : model[options.key])">
            </span>
        </div>
        <small ng-messages="fc.$error" ng-if="(form.$submitted || options.formControl.$touched) && showError && formState.edit !== false" class="help-block">
            <div ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages" class="message">
                {{message(fc.$viewValue, fc.$modelValue, this)}}
            </div>
        </small>
    </dd>
</dl>
