<dl ng-class="{'has-error': showError && formState.edit !== false, 'dl-horizontal': formState.horizontalClass !== false}"
    ng-if="to.onlyView !== true || formState.edit === false">
    <dt ng-class="{'p-t-10': formState.edit !== false}">
        {{to.label}}
        <span ng-if="!to.required && formState.edit !== false && !to.hideRequired && to.label">
            <br>
            <small class="required">(не обязательно)</small>
        </span>
    </dt>
    <dd>
        <div ng-class="{'fg-line': formState.edit !== false}">
            <div ng-if="formState.edit !== false && to.editView !== true">
                <formly-transclude></formly-transclude>
            </div>
            <span ng-if="formState.edit === false || to.editView === true" ng-class="to.viewClassName"
                su-compile="to.viewFormatter ? (to.viewFormatter((getViewValue ? getViewValue() : model[options.key]), model)) : (getViewValue ? getViewValue() : model[options.key])">
            </span>
        </div>
        <small ng-messages="fc.$error" ng-if="(form.$submitted || options.formControl.$touched) && showError && formState.edit !== false" class="help-block">
            <div ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages" class="message">
                {{message(fc.$viewValue, fc.$modelValue, this)}}
            </div>
        </small>
    </dd>
</dl>
