<div ng-class="[{'has-error': showError}]" ng-if="to.onlyView !== true || formState.edit === false">
    <div ng-class="{'fg-line': to.noFgLine !== true}">
        <label class="control-label" for="{{id}}" ng-if="to.label && formState.label !== false">
            {{to.label}}
            <span ng-if="!to.required && formState.edit !== false && !to.hideRequired">
                <br>
                <small class="required">(не обязательно)</small>
            </span>
        </label>
        <div ng-if="formState.edit !== false && to.editView !== true">
            <formly-transclude></formly-transclude>
        </div>
        <span ng-if="formState.edit === false || to.editView === true" ng-class="to.viewClassName"
            su-compile="to.viewFormatter ? (to.viewFormatter((getViewValue ? getViewValue() : model[options.key]), model)) : (getViewValue ? getViewValue() : model[options.key])">
        </span>
    </div>
    <small ng-if="(form.$submitted) && showError" class="help-block">
        <div ng-repeat="(name, message) in ::options.validation.messages" class="message">
            {{message(fc.$viewValue, fc.$modelValue, this)}}
        </div>
    </small>
</div>
