<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="{{iconClass}}"></i> {{title}}</h2>
        <ul class="actions" ng-if="!options.formState.edit">
            <li class="dropdown" uib-dropdown>
                <a href="#" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a ng-click="options.formState.edit = true" href="#">Редактировать</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <form ng-submit="onSubmit()" name="formInstance.form" novalidate ng-class="{'pmbb-edit': options.formState.edit, 'pmbb-view': !options.formState.edit}">
            <formly-form model="model" fields="fields" options="formInstance.getFormOptions()" form="formInstance.form">
                <button class="btn btn-primary btn-sm" type="submit" ng-if="options.formState.edit">
                    Сохранить
                </button>
                <button class="btn btn-link btn-sm" ng-click="formInstance.resetModel(); options.formState.edit = false" ng-if="options.formState.edit">
                    Отмена
                </button>
            </formly-form>
        </form>
    </div>
</div>
